<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atliyue.edu.mapper.ChapterVoMapper">
    <select id="getChapterAndVideoList" resultMap="chapter" parameterType="String">
          SELECT
            c.id,
            c.title,
            v.id as v_id,
            v.title as v_title,
            v.video_source_id
        FROM
            edu_chapter c
        LEFT JOIN edu_video v ON c.course_id = v.course_id
        AND c.id = v.chapter_id
        where c.course_id = #{courseId}#
    </select>
    <resultMap id="chapter" type="com.atliyue.edu.vo.ChapterVo">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <collection property="childVideo" ofType="com.atliyue.edu.vo.VideoVo">
            <id column="v_id" property="id"></id>
            <result column="v_title" property="title"></result>
            <result column="video_source_id" property="videoSourceId"></result>
        </collection>
    </resultMap>
</mapper>
