<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atliyue.edu.mapper.CourseMapper">
    <select id="selectCourseById" resultType="com.atliyue.edu.entity.Course" parameterType="String">
        SELECT * from edu_course t where t.id = #{courseId}#
    </select>
    <select id="getCourseInfo" resultType="com.atliyue.entity.CourseInfoVo" parameterType="String">
      SELECT
         c.title,
         c.cover,
         c.price,
         t.name as teacherName,
         c.lesson_num,
         s.title as subjectLevelOne,
         s1.title as subjectLevelTwo
        FROM
         edu_course c
         LEFT JOIN edu_teacher t ON c.teacher_id = t.id
         LEFT JOIN edu_subject s ON c.subject_parent_id =  s.id
         LEFT JOIN edu_subject s1 ON c.subject_id = s1.id
        where c.id = #{courseId}#
    </select>
    <select id="getCourseList" resultType="com.atliyue.edu.entity.Course">
        SELECT * FROM edu_course c WHERE c.is_deleted = '0'
          and c.status ='Normal'   ORDER BY view_count DESC LIMIT 8
    </select>
    <select id="getCourseInfoWeb" resultType="com.atliyue.edu.vo.CourseWebVo" parameterType="string">
        select * from edu_course c inner join edu_course_description d on c.id = d.id
        left join edu_teacher t on c.teacher_id = t.id
        where c.id = #{courseId}

    </select>
</mapper>
