<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atliyue.edu.mapper.TeacherMapper">
<select id="getTeacherList" resultType="com.atliyue.edu.entity.Teacher">
    select * from edu_teacher t WHERE t.is_deleted ='0' ORDER BY sort DESC  LIMIT 4
</select>
</mapper>



